 @media only screen and (min-width: 100px) and (max-width: 991px){
    .hamper-450{
        display: block !important;
    }
    .hamper{
        display: none !important;
    }
    .navbar li{
        background-image:url('liback.png');
        border-bottom: 1px solid #8080802b;
        background-size: cover;
        height: 60px;
        font-size: 24px;
        
        color: white;
        border-radius: 40px;
        margin-bottom: 10px;
    }
    
    .mobile-logo{
        display: block !important;
        background: none !important;
    }
    
    .carousel_order_now{
        width: 80% !important; 
        margin: 0px;
    }
    .promo-image{
        object-fit: cover;
        width: 100% !important;
        height: 150px !important;
        border-radius: 40px 40px 0px 0px !important; 
    }
    .promo-imaged{
        width: 100% !important;
        height: 150px !important;
        border-radius: 0px 0px 40px 40px !important; 
    }
    .promo-detail{
        padding: 20px !important;
        border-radius: 0px 0px 40px 40px !important;
        line-height: 1;
    }
    .promo-detaild{
        padding: 20px !important;
        border-radius: 40px 40px 0px 0px !important;
        line-height: 1;
    }
    .div10 {
        display: none;
        margin: 0px auto !important;
    }
    .promoh1{
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    p {
        margin: 0 0 0px !important;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 0px !important;
    }
    .nav-tog{
        display: block !important;
    }
    .about-logo{
        max-width: 190px !important;
    }
    
    
}
/* Media End */
 .hamper-450{
        display: none;
    }
    .hamper{
        display: block;
    }
.about-logo{
    max-width: 420px;
}
.nav-tog{
    display: none;
}
.promo-image{
    object-fit: cover;
    width: 100% !important;
    height: 450px;
    border-radius: 40px 0px 0px 40px; 
}
.promo-imaged{
    object-fit: cover;
    width: 100% !important;
    height: 450px;
    border-radius: 0px 40px 40px 0px; 
}
.promo-detail{
    background: black; 
    align-items: flex-start;
    padding: 45px; 
    text-align: left; 
    padding-bottom: 20px;
    border-radius: 0px 40px 40px 0px; 
}
.promo-detaild{
    background: black; 
    align-items: flex-start;
    padding: 45px; 
    text-align: left; 
    padding-bottom: 20px;
    border-radius: 40px 0px 0px 40px; 
}
body{
    font-family: Montserrat;
}
a{
    font-weight: 600;
}
hr{
    width: 90%;
    height: 5px;
    background: #707070;
    
}
.steps{
    background-image:url('Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.steps-back{
    background-image:url('Nback.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header-flex{
    background-image:url('main.png');
    width: 100%;
    background-size: cover;
}
.navbar li{
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}
.promo_section{
    margin-bottom: 20px;
}
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: left;
    
}
.fa-user{
    width: 32px;
    height: 32px;
    
}
.header-ctn>div>a>i {
    font-size: 32px;
    color: white;
    margin: 0 AUTO;
}
.dropdown-toggle::after {
    display: none;
}
.header-ctn>div>a>span {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
}
.container {
    min-width: 90%;
}
.header-row{
    display: flex;
    align-items: center;
}
.tutuclass #tutu{
    border-radius: 3px;
    border: 1px silver solid;
    padding-left: 20px;
    height: 40px;
    width: 350px;
}
.tutuclass .fa {
    margin: auto -45px;
}
.product .product-body .product-price {
    color: black;
    font-size: 18px;
}
.product .product-body {
    text-align: left;
}
.footer-links li a {
    color: #fefeff;
}
/*Store Layout*/
#custom_shopping_cart{
    overflow: hidden;
}
.mobileMainHeader{
    display: none;
}
.mainHeader{
    display: block;
}
a li span{
    background-color: white;
}
@media only screen and (min-width: 100px) and (max-width: 991px){
    a li span{
    background-color: #000000ab;;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    }
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .carousel-inner img {
        width: 100%;
        height: 200px !important;
        /*opacity: 0.5;*/
        /*-webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0.1));*/
    }
    .carousel-inner {
        width: 100%;
        height: 200px !important;
    }
    .carousel-caption h1{
        font-size: 24px !important;
        color: white !important;
    }
    .steps{
        background-image:url('Background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .steps-back{
        background-image:url('Nback.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .fadeInRight{
        width: 60% !important;;
    }
    .mobileMainHeader{
        display: block;
    }
    .mainHeader{
        display: none;
    }
    .header-ctn{
        float: left;
        padding: 0px 0px;
    }
    .header-ctn>div>a {
        display: block;
        position: relative;
        width: auto;
        text-align: left;
        color: #FFF;
    }
    
    #vid{
        height: auto !important;
    }
    .carousel-caption p {
        font-size: 2vw !important;
        color: #9d8a02db;
    }
    #head_links {
        visibility: hidden;
    }
    .custom_search_top {
        text-align:center;
    }
    
    .navbar{
        display: block;
    }
    .navbar li a{
        
        color: white;
    }
    
    
    .navbar li .active{
        color: #BEA004;
    }
    .header-links li a {
        color: #FFF;
    }
    
    .carousel_order_now{
        background: #BEA004;
        border-radius: 40px;
        color: black;
        height: 40px !important;
        font-weight: 100;
        padding: 0% 3%;
        font-size: 12px !important;
        
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .hmc h4{
        font-size: 24px !important;
    }
    
    
}
.hmc h4{
    font-size: 40px;
}

.carousel-item h3{
    color: white;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    /*opacity: 0.5;*/
    /*-webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0.1));*/
}

.shop:before {
    width: 45%;
}
.carousel-item img{
    
}
.product-preview img{
    border: 3px solid #D10024;
}
.quantity
{
    height: 35px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    
    font-size: 15px;
    
}

.product{
    border-radius: 10px;
    border: 1px solid #BEA004; 
}
.product-label{
    border-radius: 10px;
} 
.product-body{
    border-radius: 0px 0px 10px 10px;
} 
.add-to-cart{
    border-radius: 10px;
}
.img-size
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.section .container .row{
    
    text-align: center;
}
.active{
    color: red;
    color: #BEA004;
    font-weight: bold;
}
button
{
    background-color: #BEA004;
}
#navigation {
    border-top: 3px solid #BEA004;
}
.product .add-to-cart .add-to-cart-btn {
    background-color: #BEA004;
}
input{
    border-radius: 50px;
    
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #961515;
    color: #fff;
    padding: 1px 3px;
    vertical-align: top;
    margin-left: -5px; 
}
.section-title{
    position: relative;
    color: black;
    margin-bottom: 32px;
}
.section-title h1{
    font-size: 40px;
    color: white;
    
}
.section-title h3{
    font-size: 18px;
    color: white;
    
}

.steps img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}
.carousel-caption{
    /*background-color: #9d8a02db;
    border-radius: 100px;*/
    text-shadow: 0 1px 2px rgb(0 0 0 / 0%);
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #BEA004;
}
.product .add-to-cart .add-to-cart-btn>i {
    line-height: 18px;
    
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.product .product-img a>img {
    width: 100%;
}
.view_all_btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #BEA004;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    font-size: -webkit-xxx-large;
}



.product .product-img .product-label>span.new {
    background-color: #000000;
    border-color: #BEA004;
    color: #BEA004;
}
/*Slide Text Animation*/
.carousel-caption{
    
    top: 15% ;
    left: 5% !important;
    bottom: initial !important;
    text-align: left;
    width: 50%;
    border-radius: 15px;
    
    /*animation-name: example;
    animation-duration: 5s;*/
}
.carousel-caption.caption_right{
    left: initial;
    right: 6%;
}

.carousel-caption.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}   
@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}


.carousel-caption.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}
@-webkit-keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        -ms-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}







.carousel-caption.fadeIn{
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;  
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.carousel-caption h1{
    
    
    
    
}

.carousel-caption p{
    color: #ad9802;
    font-size: 1vw;
    font-weight: 100;
    text-transform: uppercase;
}/* 
@keyframes example {
    from   {color:white; left:20px; top:0px;}
    to {color:yellow; left:100px; top:0px;}
}*/ 


.carousel_order_now{
    background: #BEA004;
    border-radius: 40px;
    color: black;
    font-weight: 100;
    padding: 0% 3%;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 240px; 
    font-size: 18px;
    height: 60px; 
    font-weight: 500; 
    border: 0;
    margin: 0px auto;
}
.carousel_order_now:hover, .carousel_order_now:focus {
    /*color: #BEA004;
    background: black;*/
}

/*Dropdown for Profile*/
.dropbtn {
    
    color: white;
    padding: 1px;
    
    border: none;
    cursor: pointer;
    width: 150%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: -webkit-fill-available;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2 !important;
    text-align: center;
    font-size: 35px;
}

.dropdown-content a {
    color: white;
    background-color: #BEA004;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid;
    
}

.dropdown-content a:hover {background-color: #BEA004}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
    background-color: #BEA004;
}*/

a:hover {color: black}
.div10{
    margin: 10px auto;
    display: inline-flex;
}
.billing-details {
    margin-bottom: 30px;
    padding: 2% 20%;
}
.swal-wide{
    width:450px !important;
    height: 200px !important;
    font-size: 20px !important;
}
.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    z-index: 999;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.cookie-btn {
    background: #BEA004;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}
/*Store Layout styles End*/
/*Cart Layout - Collapse Bar*/
.collapsible {
    background-color: #BEA004;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 40px;
}

.active, .collapsible:hover {
    /*background-color: #BEA004;*/
}

.content {
    
    display: block;
    overflow: hidden;
    /*background-color: #ffffffb8;*/
}

/*Cart Layout - Collapse Bar*/
